<!-- # This page will show all my coursework, my education path (elementary - college), and academic achievements -->

{% extends 'layout.html' %}

{% block body2 %}
<center>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="">
      <!-- Banner -->
      <div style="margin-bottom: -55px;" class="w3-container w3-center w3-padding-64">
        <img src="/static/uofm.png" height="300" width="600">
      </div>

      <h5 class="w3-padding-32">I've attended the following schools: Rosemount Elementary School (RES), Rosemount Middle School (RMS), Rosemount
                              High School (RHS), Inver Hills Community College, University of Minnesota - Duluth, University of Minnesota - Twin Cities.</h5>

      <p style="margin-bottom: -100px;" class="w3-text-grey">Below, I've attached my college & high school unofficial transcripts (sensitive information erased):</p>
      <p></p> <!-- Empty space. Keep for now-->
      <div class="w3-third w3-center">
      <img src=/static/unoff_transcript_uofm-1.png height=50% width="1000" style="padding-top:100px;">
      <img style="margin-top: -300px;" src=/static/unoff_transcript_uofm-2.png height=50% width="1000" style="padding-top:100px;">
      <img style="margin-top: -400px;" src=/static/unoff_transcript_hs.png height=50% width="1000" style="padding-top:100px;">
      </div>
    </div>
  </div>
</div>
</center>
{% endblock %}

<!-- Footer -->
{% block footer %}
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-large">

    <a style="" href="https://www.facebook.com/austin.wongparker" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/austin.wp/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/a-w-p/" class="fa fa-linkedin"></a>

 </div>
 <p>Have a great day!</p>
</footer>
{% endblock %}
