<!-- -->
{% extends 'layout.html' %} <!-- Interhited from layout.html -->

<!-- Header -->
{% block Header %}
<header class="w3-container w3-center awp_code_background" style="padding:240px 16px">
  <!--<h1 style="color:white;font-family:Century Gothic;"> Austin Wong-Parker</h1>-->
  <!--<h2 class="w3-margin "> MN-based Software Developer </h2-->
  <center>
  <!--<img src="/static/code_background.png" height="1500" width="1500">-->
  <img class="w3-animate-top" src="/static/github_photo.png" height="370" width="350" >
  <h1 class="w3-animate-top" style="color:white;font-family:Century Gothic;"> Austin Wong-Parker</h1>
  <h2 class="w3-animate-fading" style="color:grey;font-family:Century Gothic;padding:230px;font-size: 12pt;"> Scroll down!</h2>
</center>
  <!--<button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>-->
</header>
{% endblock %}

<!-- First Grid -->
{% block body %}
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Hello!</h1>
      <h5 class="w3-padding-32">My name is Austin Wong-Parker. I'm an aspiring software developer; I will be graduating from the University of Minnesota in May 2020.</h5>

      <p class="w3-text-grey">This website serves as a living portfolio and centralized hub for all my content. Please feel free to explore the site.
                              I will periodically update it every few weeks with new content. Let me know if you have any suggestions to
                              improve the site! LinkedIn or email is the best method to reach me. </p>
    </div>

    <div class="w3-third w3-center">
      <img src="/static/austin_and_cooper.png" height="370" width="350">
    </div>
  </div>
</div>
{% endblock %}

<!-- Second Grid -->
{% block body2 %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="/static/austin_oakland.png" height="370" width="350">
    </div>

    <div class="w3-twothird">
      <h1 style="padding:75px"> About Me!</h1>
      <p style="padding-left:75px; color:grey">I was born in Texas; raised in Minnesota. I love golfing, spending time with my dog, playing
                                                      games with the comrades, and cooking! </p>
      <p style="padding-left:75px; color:grey"> I began coding my junior year of high school - I took the AP CompSci class for java. Throughout college,
                                                I developed in Python, C, C++, C#, HTML, and Assembly. </p>
      <p style="padding-left:75px; color:grey"> All my coding repositories are hosted on <a href='https://github.com/AustinWongParker'> Github.</a> </p>
      <!--<p style="padding:75px" class="w3-text-grey">fildhgjkhdfj</p>-->
    </div>
  </div>
</div>
{% endblock %}

<!-- Job Banner -->
{% block job_banner %}
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Job Status: Currently looking as of April 3rd, 2020.</h1>
</div>
{% endblock %}

<!-- Footer -->
{% block footer %}
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-large">

    <a style="" href="https://www.facebook.com/austin.wongparker" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/austin.wp/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/a-w-p/" class="fa fa-linkedin"></a>

 </div>
 <p>Have a great day!</p>
</footer>
{% endblock %}
