<!-- This page will showcase my how - to videos. Not sure how I'm gonna do this, but I want to have examples of quick
 1-2 minute videos of how to do simple stuff. -->

{% extends 'layout.html' %}

{% block body2 %}
<div style="margin-bottom: -55px;" class="w3-container w3-center w3-padding-64">
  <img src="/static/under_con.png" height="300" width="600">
</div>
{% endblock %}

<!-- Footer -->
{% block footer %}
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-large">

    <a style="" href="https://www.facebook.com/austin.wongparker" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/austin.wp/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/a-w-p/" class="fa fa-linkedin"></a>

 </div>
 <p>Have a great day!</p>
</footer>
{% endblock %}
