<!-- This page will showcase my projects and a quick description of them with github links if applicable. -->

{% extends 'layout.html' %}

<!-- flask website -->
{% block p00 %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src=/static/flaskpic.png height="420" width="350" style="padding-top:100px;">
    </div>

    <div class="w3-twothird">
      <h1 style="padding:75px">Flask Python Website</h1>
      <h5 style="padding-left:75px"> July 2022 </h5>
      <p style="padding-left:75px; color:grey">This is my flask website repository. It contains my new site you are currently viewing on your browser! I re-launched in July 2022 with the goal of being a central hub to host my portfolio.
                                               In addition to having this flask site, I plan on creating more sites with Django and react frameworks in the future.</p>
      <p style="padding-left:75px; color:grey"> Access the Tracing Game here: <a href='https://github.com/AustinWongParker/flaskwebsite'> Github.</a> </p>
    </div>
  </div>
</div>
{% endblock %}

<!-- Hackaton WebScrapper -->
{% block p0 %}
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Hackaton - Webscrapper</h1>
      <h5 class="w3-padding-32">Spring 2020</h5>

      <p class="w3-text-grey">Through the Minority Programmers Association(MPA), myself and four other developers participated in a hackathon through the MPA program virtually through the James Madison University. We received an <a href='https://www.youtube.com/watch?v=A8TPYXAGReI'> honorable mention here. </a></p>
      <p style="color:grey"> Access the WebScrapper here: <a href='https://github.com/AustinWongParker/Hackathon_WebScraper'> Github.</a> </p>
      <p style="color:grey"> Image from <a href='https://www.scrapingbee.com/blog/python-web-scraping-beautiful-soup/'> source.</a></p>
    </div>

    <div class="w3-third w3-center">
      <img src="/static/bs4.png" height="370" width="350">
    </div>
  </div>
</div>
{% endblock %}

<!-- TRACING GAME -->
{% block p1 %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src=/static/tracing_game.png height="420" width="350" style="padding-top:100px;">
    </div>

    <div class="w3-twothird">
      <h1 style="padding:75px">Tracing Game</h1>
      <h5 style="padding-left:75px"> Summer 2019 </h5>
      <p style="padding-left:75px; color:grey">This is my tracing game made in python using the pygames library. The screenshot on the left is the start
                                               menu. The goal of the game is to trace images from memory. The game was inspired from a Calligraphy quest in the game WoW.</p>
      <p style="padding-left:75px; color:grey"> Access the Tracing Game here: <a href='https://github.com/AustinWongParker/tracing_game'> Github.</a> </p>
      <!--<p style="padding:75px" class="w3-text-grey">fildhgjkhdfj</p>-->
    </div>
  </div>
</div>
{% endblock %}

<!-- Discord API bot -->
{% block p2 %}
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Discord Bot - API</h1>
      <h5 class="w3-padding-32">Winter 2019</h5>

      <p class="w3-text-grey">Since discord is a daily part of my life, I decided to try using the API. The discord bot uses the integrated API through
                              the developer app portal and connects to my personal server. I mainly created this project to work with external APIs and
                              implement asynch client / host connectivity.</p>
      <p style="color:grey"> Access the Discord Bot here: <a href='https://github.com/AustinWongParker/cla_major_bot'> Github.</a> </p>
    </div>

    <div class="w3-third w3-center">
      <img src="/static/discord_bot.png" height="370" width="350">
    </div>
  </div>
</div>
{% endblock %}

<!-- CSCI 2021 -->
{% block p3 %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src=/static/csci2021_project2.png height="420" width="350" style="padding-top:100px;">
    </div>

    <div class="w3-twothird">
      <h1 style="padding:75px">CSCI 2021 Projects [private]</h1>
      <h5 style="padding-left:75px"> Fall 2019 </h5>
      <p style="padding-left:75px; color:grey">During my time in college at the UofM, CSCI2021 was definitely the hardest course I took. I made a lot of great friends and want to tribute
                                               it here. This specific project was the second one in the course and dealt with bit-level operations in the C programming language. We wrote code
                                               to simulate a clock changing its time through different bit positions. This program involved bit shifting, calling C structs, and manipulating
                                               the use of an array. I wrote this project in C and the assembly language.</p>
      <p style="padding-left:75px; color:grey"> The public may not access these projects - they're currently private repos; however, I'm open to sharing it upon special requests.</p>
      <!--<p style="padding:75px" class="w3-text-grey">fildhgjkhdfj</p>-->
    </div>
  </div>
</div>
{% endblock %}








<!-- Footer -->
{% block footer %}
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-large">

    <a style="" href="https://www.facebook.com/austin.wongparker" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/austin.wp/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/a-w-p/" class="fa fa-linkedin"></a>

 </div>
 <p>Have a great day!</p>
</footer>
{% endblock %}v
